@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body, html {
  align-items: center;
  background-color: #FEFEFE;
  color: #212121;
  display: flex;
  flex-flow: column;
  font-size: 14px;
  height: 95%;
  justify-content: center;
  text-align: center;
}

.header {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin: 0;
}

a {
  color: #212121;
}

a:hover {
  color: #E53526;
}

form {
  align-items: center;
  display: flex;
  flex-flow: column;
}

input {
  border: 1px solid #484848;
  border-radius: 4px;
  margin-top: 15px;
  height: 24px;
  text-align: center;
}

input:focus {
  border: 1px solid #212121;
  color: #212121;
}

button {
  background-color: #212121;
  border: 1px solid #212121;
  border-radius: 4px;
  color: #FEFEFE;
  margin: 15px 0;
  height: 24px;
  width: 84px;
}

button:hover {
  animation-name: change-color-on-hover;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes change-color-on-hover {
  100% {
    background-color: #E53526;
    border: 1px solid #E53526;
  }
}

.error {
  color: #E53526;
  font-weight: 500;
}